@font-face {
    font-family: "Am Sans";
    src: url('./Am Sans Regular.otf');
    }


/* Light mode */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: "Am Sans", Calibri, 'Comic Sans';
}
header, main, footer {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 1rem;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}
header.dark-mode, main.dark-mode, footer.dark-mode {
    background-color: #222;
}
nav.dark-mode a {
    color: #f5f5f5;
}

div.bingofield {
    width: calc(100%-20px);
    margin-left: 10px;
    margin-right: 10px;
    min-height: 50px;
    background-color: green;
    max-height: 80%;
}

button.themetoggle {
    position: absolute;
    right: 10px;
    top: 10px;

}

h1 {
    text-align: center;
    
}

div#freifeld_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 
  
#freifeld {
    margin-right: 10px;
}


#bingofield {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}

div.oldwarning {
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100%-20px);
    text-align: center;
    background-color: rgb(129, 71, 16);
    border-style: double;
    border-radius: 10px;
    border-color: red;
    color:white;
    cursor:pointer;

}

div.oldwarning h2 {
    margin-top: 6px;
    margin-bottom: 2px;
}

input#freifeld {
    width: 1.7em;
    height: 1.7em;
}
div#freifeld_box label {
    font-size: 1.7em;
}

div.noshow {
    display: none;
}

div.testfail {
    background-color: red;
    border-style: double;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;   
}

div.testfail a:link {
    color: lightblue;
}

div.testfail a:visited {
    color: lightsalmon !important;
}

div.testfail a:hover {
    background-color: yellow;
}

p#logfield {
    width: calc(100%-20px);
    overflow-x: hidden;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color:#222;
    color:#f5f5f5;
}

div.bottominfo {
    width: calc(100%-10px);
}
p.extrainfo {
    margin: 0 auto;
    text-align: center;
}

div.bmc-btn-container {
    display: inline-block;
    height: 28px;
}

a.bmc-btn {
    height: 26px;
}

div#sharelink {
    width:calc(100%-10px);
    text-align: center;
}
div#sharelink h2 {
    margin-top: 10px;
    margin-bottom: 2px;
}

div#sharelink span#copylink {
    width: 400px;
    font-size: 1.2em;
    height: 100%;
    top: 0px;
    bottom: 0px;
    line-height: 28px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    margin-right: 0px;
    border-right: none;
    display: inline-block;
    background-color: #f5f5f5;
    color:#222;
    text-align: left;
}

div#sharelink #copylinkbutton {
    height: 100%;
    width: 115px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: teal;
    color:white;
    font-weight: bold;
    margin-left: 0px;
    border-left: none;
    font-size: 1.3em;
    display: inline-block;
    top: 100%;
    bottom: 100%;
}

div#sharelink #copylinkbutton:hover {
    background-color: turquoise;
}

div#copycontainer {
    height: 1.8em;
}

div#sharelink p#copied {
    position: absolute;
    z-index: 1;
    background-color: rgba(50,50,50,0.85);
    width: 490px;
    left: 50%;
    margin-left: -255px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 3px;
    color:#f5f5f5;
    display: none;
}

.fakebutton {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.fakebutton:link {
    text-decoration: none;
}

