@font-face {
    font-family: "Am Sans";
    src: url('Am Sans Regular.otf');
    }


/* Light mode */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: "Am Sans", Calibri, 'Comic Sans';
}
header, main, footer {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 1rem;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}
header.dark-mode, main.dark-mode, footer.dark-mode {
    background-color: #222;
}
nav.dark-mode a {
    color: #f5f5f5;
}

div.bingofield {
    width: 100%;
    background-color: green;
}

button.themetoggle {
    position: absolute;
    right: 10px;
    top: 10px;

}

h1 {
    text-align: center;
    font-family: "Am Sans Regular", 'Comic Sans';   
}

div#freifeld_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 
  
#freifeld {
    margin-right: 10px;
}


#bingofield {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}

div.oldwarning {
    width: 100%;
    text-align: center;
    background-color: rgb(129, 71, 16);
    border-style: double;
    border-radius: 10px;
    border-color: red;
    color:white;
    cursor:pointer;
}

div.noshow {
    display: none;
}